* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
}

canvas {
    width: 95vh;
    height: 95vh;
    border: 5px solid grey;
}

.coorText {
    position: absolute;
    top: 2%;
    left: 2%;
}

.right-part {
    width: 300px;
    height: 95vh;
    position: absolute;
    top: 2%;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-grid {
    width: 50%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.right-part div div {
    width: 100%;
    aspect-ratio: 1;
    transition: 300ms;
}

.right-part div div:hover {
    transform: scale(110%);
}

.selectedColor {
    border: 5px solid red !important;
    transform: scale(115%);
}

input {
    width: 80%;
    height: 50px;
    padding: 2px 5px;
    background-color: grey;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

input:hover {
    transform: scale(105%);
}

.color-selector, .help-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
}

.color-selector {
    padding: 8%;
    text-align: center;
}

.help-box {
    padding: 2%;
}

.close-help {
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 2em !important;
}

.color-grid .material-symbols-outlined {
    width: 100%;
    border: 5px solid grey;
}

.help-text {
    position: absolute;
    left: 2%;
    bottom: 2%;
    display: flex;
    cursor: pointer;
}
